@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    font-family: 'Hind', sans-serif;
    height: 100%;
    margin-bottom: 40px;
}


/* BARRA DE NAVEGACION */
#navbar{
    width: 100%;
    height: 50px;
    background-color: #1E1F26;
    font-size: 20px;
}

#navegacion-fixed{
    background-color: #1E1F26;
    width: 100%;
    position: fixed;
}

#navbar div div{
    display: flex;
    margin: auto;
    width: 75%;
}

#navbar ul{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    list-style: none;
}

#color-blue{
    color: rgb(10, 108, 255) !important;
    font-size: 25px;
    font-weight: 800;
}

#color-blue:hover{
    color: rgb(253, 25, 25) !important;
}

#navbar ul a{
    text-decoration: none;
    color: white;
    height: 100%;
}

#navbar li:hover{
    transform: scale(1.3);
    margin-left: 3%;
    margin-right: 3%;
}

#navbar a:hover{
    color: #0366D6;
}

/* BARRA DE NAVEGACION */


/* CABECERA */
header{
    display: block;
    margin: 30px 0px 30px 0px;
    width: 100%;
    text-align: center;
    color: #000000ad;
}

header h1{
    /* offset-x | offset-y | blur-radius | color */
    /* 10px 5px 5px rgba(53, 53, 53, 0.432) */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26); 
    font-weight: bold;
    font-size: 50px;
} 
/* CABECERA */


/* --------------------------------INDEX---------------------------- */

#contenedor-padre{
    display: inline-flex;
    margin: 2% 10% 15% 10%;
    padding: 2%;
    border: 1px ridge #d8d8d8;
    width: 75%;
    background-color: #ececec5d;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}

#caja-izquierda{
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
    color: #5B5C60;
}

#caja-izquierda img{
    border-radius: 50%;
    width: 90%;
}

#caja-izquierda div{
    display: block;
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
}

#caja-izquierda div ul{
    display: block;
    margin: auto;
    width: 80%;
}

#caja-izquierda div li{
    list-style: none;
    font-size: 17px;
}

summary{
    font-size: 20px;
    font-weight: 500;
}

/*------------------------*/

#caja-derecha{
    width: 75%;
    color: #5B5C60;
}

#caja-derecha p{
    text-align: justify;
    font-size: 17px;
}

.habilidades-duras{
    width: 100%;
}

.habilidad{
    display: flex;
    margin-bottom: 10px;
    width: 50%;
}

.ancho-parrafo{
    width: 80px;
}

#porcentaje{
    margin-left: 10px;
    background-color: #d4d4d4;
    border-radius: 20px;
    width: 300px;
}

#python-porcentaje{
    width: 165px;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(45, 88, 182);

}

#java-porcentaje{
    width: 120px;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(45, 88, 182);
}

#seeCharp-porcentaje{
    width: 90px;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(45, 88, 182);
}

#html-porcentaje{
    width: 215px;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(45, 88, 182);
}

#css-porcentaje{
    width: 140px;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(45, 88, 182);
}

#github-porcentaje{
    width: 120px;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(45, 88, 182);
}


/* --------------------------------INDEX---------------------------- */






/* --------------------------ESTUDIOS BASICOS------------------------------- */
/* --------------------------ESTUDIOS INTERMEDIO------------------------------- */
/* --------------------------ESTUDIOS SUPERIOR------------------------------- */

#contenedor-padre-estudios-basicos{
    display: inline-flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    /*border: 1px ridge skyblue;*/
    height: 500px;
    margin-top: 5%;
    margin-bottom: 15%;
    color: #5B5C60;
}

.caja-basica{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border: 1px ridge #d8d8d8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
    padding: 20px 10px 20px 10px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}



.logo-colegio{
    width: 100px;
    height: 100px;
}

/* --------------------------ESTUDIOS BASICOS------------------------------- */
/* --------------------------ESTUDIOS INTERMEDIO------------------------------- */
/* --------------------------ESTUDIOS SUPERIOR------------------------------- */



/* -------------------------DATOS TITULOS--------------------- */


#contenedor-padre-datos-titulos{
    display: inline-flex;
    margin: auto;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 15%;
    width: 100%;
    height: 400px;
    color: #5B5C60;
}

#centrar-titulo{
    margin-top: 5%;
    text-align: center;
    color: #5B5C60;
    font-size: 40px;
}

#contenedor-padre-datos-titulos div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 25%;
    padding: 2%;
    border: 1px ridge #d8d8d8;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}

#contenedor-padre-datos-titulos div img{
    width: 80%;
    height: 200px;
    border: 1px solid rgba(3, 3, 3, 0.219);
}

.zoom{
    transition: 2s;
}

#contenedor-padre-datos-titulos img:hover{
    transform: scale(2.5);
}

#centrar-certificado:hover{
    transform: scale(2.5);
    margin-left: 100%;
}

#centrar-certificado-derecho:hover{
    transform: scale(2.5);
    margin-right: 100%;
}



/* -------------------------DATOS TITULOS--------------------- */












/* ----------------------------CONTACTO--------------------------------- */

#formulario{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 15%;
    border: 2px ridge #0076fd46;
    border-radius: 10px;
    background-color: #1E1F26;
    padding: 2%;
    color: #ffffff;
    font-size: 20px;
}

#formulario div{
    display: flex;
    flex-direction: column;
}

#formulario div input, textarea{
    border-radius: 10px;
    height: 30px;
    border: 1px ridge #0076fd46;
    outline: #0076fd;
    font-size: 17px;
    background-color: #ffffffea;
}

textarea{
    height: 100px;
}

#formulario div input[type=submit]{
    background-color: #3191ff;
    color: #ffffff;
    font-size: 20px;
}

input[type=submit]{
    cursor: pointer;
}

/* ----------------------------CONTACTO--------------------------------- */















































/* --------------------------------FOOTER------------------------------ */
footer{
    width: 100%;
    height: 150px;
    background-color: #1E1F26;
    bottom: 0;
    position: absolute;
    margin-top: 5%;
}

#footer-redes-sociales{
    display: inline-flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#footer-redes-sociales div{
    margin-left: 2%;
    margin-right: 2%;
}

#footer-redes-sociales img{
    width: 40px;
}

#footer-redes-sociales img:hover{
    transform: scale(1.5);
}